.containerHero{
    width: 85%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 6rem 0;

    .infoHero{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        overflow-y: hidden;
        align-items: center;

        .author{
            text-align: center;
            font-size: 1.8rem;
            color: white;
            font-weight: 500;
        }

        .job{
            font-size: 1.9rem;
            text-align: center;
            font-weight: 500;
        }

        .containerLink{
            display: flex;
            gap: 1rem;

            .contactMe,
            .cvDownload{
                color: white;
                border: 0.15rem solid white;
                border-radius: 0.35rem;
                padding: 0.55rem;
                text-align: center;
                text-underline-offset: 0.3rem;
                text-decoration-color: #808080;
                align-self: center;
                font-size: 1rem;
            }
        }
    }

    .btnScrollDown{
        font-size: 2.2rem;
        background-color: transparent;
        border: none;
        -webkit-animation: mover 1s infinite  alternate;
        animation: mover 1s infinite  alternate;

        @-webkit-keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-10px); }
        }
        @keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-10px); }
        }

        a{
            color: white;
        }
    }
}


@media screen and (min-width: 320px) {

    .containerHero{
        padding: 7rem 0;
        
        .infoHero{
            .author{
                font-size: 1.8rem;
            }

            .job{
                font-size: 1.6rem;
            }
        }
    }
    
}

@media screen and (min-width: 480px) {

    .containerHero{
        padding: 7.8rem 0;
    }
    
}

@media screen and (min-width: 768px) {

    .containerHero{
        padding: 7rem 0;

        .infoHero{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            overflow-y: hidden;
            align-items: center;
    
            .author{
                text-align: center;
                font-size: 2.2rem;
                color: white;
                font-weight: 500;
            }
    
            .job{
                font-size: 2rem;
                text-align: center;
                font-weight: 500;
            }
        }    
    }
}

@media screen and (min-width: 1024px) {

    .containerHero{
        padding: 6.5em 0;

        .infoHero{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            overflow-y: hidden;
            align-items: center;
    
            .author{
                text-align: center;
                font-size: 2.4rem;
                color: white;
                font-weight: 500;
            }
    
            .job{
                font-size: 2.2rem;
                text-align: center;
                font-weight: 500;
            }
        }    
    }
}

@media screen and (min-width: 1200px) {

    .containerHero{
        padding-top: 15rem;
        padding-bottom: 7rem;

        .infoHero{
    
            .author{
                font-size: 3rem;
            }
    
            .job{
                font-size: 2.8rem;
            }
        }
    }
}