.hidden{
    display: none;
}

.show{
    display: flex;
}

.containerPortfolio{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    h2{
        text-align: center;
        color: white;
        font-size: 1.7rem;
        padding-top: 2.5rem;
        font-weight: 500;
    }
    
    .projectsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .cardsContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .cardProject{
            width: 100%;
            height: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            a{
                span{
                    color: white;
                    font-size: 1.1rem;
                    border-bottom: 0.1rem solid #808080;
                }
            }

            .imgContainerProject{
                width: 100%;
                height: 100%;
                position: relative;
                
                .loader{
                    position: absolute;
                    top: 40%;
                    left: 40%;
                    width: 50px;
                    height: 50px;
                    border: 5px solid white;
                    border-bottom-color: orange;
                    border-radius: 50%;
                    display: inline-block;
                    box-sizing: border-box;
                    animation: rotation 1s linear infinite;
                    z-index: -99;
                }
                
                @keyframes rotation {
                    0%{
                        transform: rotate(0deg);
                    }
                    100%{
                        transform: rotate(360deg);
                    }
                }
                
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 0.35rem;
                    animation: opacity 1s;
                }
                
                @keyframes opacity { 
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }

            .discover{
                width: fit-content;
                color: white;
                box-shadow: 0 0 10px whitesmoke;
                padding: .5rem;
                border-radius: .5rem;
                font-size: .9rem;
            }
        }
    }
    
    .containerBtn{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        .btnProjectPrev,
        .btnProjectNext{
            background-color: transparent;
            border: none;
            color: white;
            font-size: 2rem;
            display: flex;
            align-self: center;
        }
    } 
}

@media screen and (min-width: 480px) {
    .containerPortfolio{
        .cardsContainer{
            .cardProject{
                .imgContainerProject{
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .containerPortfolio{
        padding: 1rem 0;
        
        .cardsContainer{
            .cardProject{
                width: 70%;

                .imgContainerProject{
                    align-self: center;
                    width: 100%;
                    height: 70%;
                    position: relative;
                }
            }

            .containerBtn{
                width: 100%;
                margin: auto;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .containerPortfolio{
        .cardsContainer{
            .cardProject{
                width: 55%;
                gap: .5rem;
                
                .imgContainerProject{
                    width: 100%;
                    height: 100%;
                    position: relative;
                }

                .containerBtn{
                    width: 100%;
                    margin: auto;

                    a{
                        span{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .containerPortfolio{
        padding-top: 0.5rem;

        h2{
            padding-top: 0rem;
        }
        
        .cardsContainer{
            .cardProject{
                width: 60%;
                gap: 1rem;

                .imgContainerProject{
                    width: 100%;
                    height: 60%;
                    position: relative;
                }

                .containerBtn{
                    width: 100%;
                    margin: auto;

                    a{
                        span{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}